---
import berita from "../data/berita";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Baitul Izzah Samarinda</title>
    <link rel="shortcut icon" href="/images/logo.png" />
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Rubik:300,400,700|Oswald:400,700"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/fonts/icomoon/style.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="/css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="/fonts/flaticon/font/flaticon.css" />
    <link rel="stylesheet" href="/css/aos.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />

    <link rel="stylesheet" href="/css/style.css" />
    <!-- <script is:inline nonce="04ef15c1-a7f2-4a59-bb1f-c19690d630ed">
      (function (w, d) {
        !(function (e, f, g, h) {
          e.zarazData = e.zarazData || {};
          e.zarazData.executed = [];
          e.zaraz = { deferred: [], listeners: [] };
          e.zaraz.q = [];
          e.zaraz._f = function (i) {
            return function () {
              var j = Array.prototype.slice.call(arguments);
              e.zaraz.q.push({ m: i, a: j });
            };
          };
          for (const k of ["track", "set", "debug"]) e.zaraz[k] = e.zaraz._f(k);
          e.zaraz.init = () => {
            var l = f.getElementsByTagName(h)[0],
              m = f.createElement(h),
              n = f.getElementsByTagName("title")[0];
            n && (e.zarazData.t = f.getElementsByTagName("title")[0].text);
            e.zarazData.x = Math.random();
            e.zarazData.w = e.screen.width;
            e.zarazData.h = e.screen.height;
            e.zarazData.j = e.innerHeight;
            e.zarazData.e = e.innerWidth;
            e.zarazData.l = e.location.href;
            e.zarazData.r = f.referrer;
            e.zarazData.k = e.screen.colorDepth;
            e.zarazData.n = f.characterSet;
            e.zarazData.o = new Date().getTimezoneOffset();
            if (e.dataLayer)
              for (const r of Object.entries(
                Object.entries(dataLayer).reduce((s, t) => ({
                  ...s[1],
                  ...t[1],
                })),
              ))
                zaraz.set(r[0], r[1], { scope: "page" });
            e.zarazData.q = [];
            for (; e.zaraz.q.length; ) {
              const u = e.zaraz.q.shift();
              e.zarazData.q.push(u);
            }
            m.defer = !0;
            for (const v of [localStorage, sessionStorage])
              Object.keys(v || {})
                .filter((x) => x.startsWith("_zaraz_"))
                .forEach((w) => {
                  try {
                    e.zarazData["z_" + w.slice(7)] = JSON.parse(v.getItem(w));
                  } catch {
                    e.zarazData["z_" + w.slice(7)] = v.getItem(w);
                  }
                });
            m.referrerPolicy = "origin";
            m.src =
              "../../cdn-cgi/zaraz/sd0d9.js?z=" +
              btoa(encodeURIComponent(JSON.stringify(e.zarazData)));
            l.parentNode.insertBefore(m, l);
          };
          ["complete", "interactive"].includes(f.readyState)
            ? zaraz.init()
            : e.addEventListener("DOMContentLoaded", zaraz.init);
        })(w, d, 0, "script");
      })(window, document);
    </script> -->
  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
    <pre>{JSON.stringify(berita(), null, 2)}</pre>
    <div class="site-wrap" id="home-section">
      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>
      <header
        class="site-navbar js-sticky-header site-navbar-target"
        role="banner"
        style="background-color:#0f6282 ;"
      >
        <div class="container">
          <div class="row align-items-center position-relative">
            <div class="site-logo">
              <a href="/">
                <img
                  src="/images/logo2.png"
                  alt="Baitul Izzah Samarinda"
                  id="logo"
                />
              </a>
            </div>
            <div class="col-12">
              <nav class="site-navigation text-right ml-auto" role="navigation">
                <ul
                  class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block"
                >
                  <li><a href="#home-section" class="nav-link">Home</a></li>
                  <li>
                    <a href="#services-section" class="nav-link">Profil</a>
                  </li>
                  <li class="has-children">
                    <li><a href="#blog-section" class="nav-link">Berita</a></li>
                    <li>
                      <a href="#contact-section" class="nav-link">Kontak</a>
                    </li>
                    <li>
                      <a href="/pendaftaran" class="nav-link" id="pendaftaran"
                        >Pendaftaran</a
                      >
                    </li>
                  </li>
                </ul>
              </nav>
              <div class="toggle-button d-inline-block d-lg-none">
                <a
                  href="#"
                  class="site-menu-toggle py-5 js-menu-toggle text-black"
                  ><span class="icon-menu h3"></span></a
                >
              </div>
            </div>
          </div>
        </div>
      </header>
    </div>
    <div class="owl-carousel slide-one-item">
      <div
        class="site-section-cover overlay img-bg-section"
        style="background-image: url('/images/foto3.webp'); "
      >
        <div class="container">
          <div
            class="row align-items-center justify-content-center text-center"
          >
            <div class="col-md-12 col-lg-7">
              <h1 data-aos="fade-up" data-aos-delay="">
                Baitul Izzah Samarinda
              </h1>
              <p class="mb-5" data-aos="fade-up" data-aos-delay="100">
                PENDIDIKAN&nbsp;|&nbsp;SOSIAL&nbsp;|&nbsp;DAKWAH
              </p>
              <p data-aos="fade-up" data-aos-delay="200">
                <a
                  href="#contact-section"
                  class="btn btn-outline-white border-w-2 btn-md"
                  >HUBUNGI KAMI</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
      <div
        class="site-section-cover overlay img-bg-section"
        style="background-image: url('/images/foto.jpg'); "
      >
        <div class="container">
          <div
            class="row align-items-center justify-content-center text-center"
          >
            <div class="col-md-12 col-lg-8">
              <h1 data-aos="fade-up" data-aos-delay="">
                PENERIMAAN SANTRI BARU<br />Putra-Putri
              </h1>
              <p class="mb-5" data-aos="fade-up" data-aos-delay="100">
                Tahun ajaran 2024 - 2025
              </p>
              <p data-aos="fade-up" data-aos-delay="200">
                <a
                  href="/pendaftaran"
                  class="btn btn-outline-white border-w-2 btn-md"
                  >DAFTAR SEKARANG</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="block__73694 mb-2" id="services-section">
        <div class="container">
          <div class="row d-flex no-gutters align-items-stretch">
            <div
              class="col-12 col-lg-6 block__73422"
              style="background-image: url('/images/foto6.jpg');"
              data-aos="fade-right"
              data-aos-delay=""
            >
            </div>
            <div
              class="col-lg-5 ml-auto p-lg-5 mt-4 mt-lg-0"
              data-aos="fade-left"
              data-aos-delay=""
            >
              <h2 class="mb-3 text-black">Tentang Kami</h2>
              <br />
              <p>
                Madrasah Baitul Izzah adalah lembaga pendidikan khusus tahfidzul
                Quran (menghafal dan memahami Al-Quran) dan bahasa Arab
                (terutama bahasa Arab percakapan untuk sehari-hari) setingkat
                SMP.
              </p>
              <p>
                Pondok Pesantren Tahfidzul Quran Baitul Izzah (MABAIZ)-
                Samarinda Pada awalnya hanya membuka pembelajaran di tingkat
                sekolah dasar(SD), Namun setelah dapat dukungan dari Berbagai
                Kalangan MABAIZ akhirnya mengembangkan pendidikan ketingkat
                Madarasah Tsanawiyah (MTs) berbasis Pondok Pesantern tahfidz dan
                bahasa arab yang berjalan sesuai dengan syariat islam dan jalan
                ahlussunnah waljamaah.
              </p>
              <ul class="ul-check primary list-unstyled mt-5"></ul>
            </div>
          </div>
        </div>
      </div>
      <div class="block__73694">
        <div class="container">
          <div class="row d-flex no-gutters align-items-stretch">
            <div
              class="col-12 col-lg-6 block__73422 order-lg-2"
              style="background-image: url('/images/foto4.jpg');"
              data-aos="fade-left"
              data-aos-delay=""
            >
            </div>
            <div
              class="col-lg-5 mr-auto p-lg-5 mt-4 mt-lg-0 order-lg-1"
              data-aos="fade-right"
              data-aos-delay=""
            >
              <p>
                VISI

                <br /><br />"Membentuk penghafal Quran yang berilmu dan faham
                bahasa Arab"

                <br /><br />MISI

                <br /><br />1. Menyelenggarakan pendidikan dengan kurikulum
                pesantren yang berfokus pada Tahfidzhul Qur’an yang
                diintegrasikan dengan jenjang pendidikan Madrasah Tsanawiyah.

                <br /><br />2. Mencetak santriwan dan santriwati agar hafal Al
                Qur’an dan paham tafsirnya.

                <br /><br />3. Menjadikan al-qur’an sebagai way of life di dunia
                dan di akhirat

                <br /><br />4. Menjadikan para santri yang hafal al-qur’an dan
                mampu membumikan atau mengamalkan dalam kehidupan sehari-hari.
                <br />
                <br />
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ul class="ul-check primary list-unstyled mt-5"></ul>

    <div class="site-section bg-light">
      <div class="container">
        <div class="row">
          <div
            class="col-md-6 col-lg-4 mb-4"
            data-aos="fade-up"
            data-aos-delay=""
          >
            <div class="block__35630">
              <div class="icon mb-3">
                <span class="bi bi-book"></span>
              </div>
              <h3 class="mb-3">TAHFIZUL QUR’AN</h3>
               Program Tahfizh dengan <br />“Metode Sholaty”
            </div>
          </div>
          <div
            class="col-md-6 col-lg-4 mb-4"
            data-aos="fade-up"
            data-aos-delay="100"
          >
            <div class="block__35630">
              <div class="icon mb-3">
                <span class="bi bi-bar-chart-steps"></span>
              </div>
              <h3 class="mb-3">QIROAH BERSANAD</h3>
               Dibimbing Oleh Asatidz Yang <br /> Bersanad
            </div>
          </div>
          <div
            class="col-md-6 col-lg-4 mb-4"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            <div class="block__35630">
              <div class="icon mb-3">
                <span class="bi bi-person-lines-fill"></span>
              </div>
              <h3 class="mb-3">SARJANA S1 PAI</h3>
               Berpeluang Melanjutkan <br /> Kuliah S1 Dalam Waktu <br /> 2
              Tahun
            </div>
          </div>
          <div
            class="col-md-6 col-lg-4 mb-4"
            data-aos="fade-up"
            data-aos-delay=""
          >
            <div class="block__35630">
              <div class="icon mb-3">
                <span class="bi bi-arrow-up-square"></span>
              </div>
              <h3 class="mb-3">PENDIDIKAN LANJUTAN</h3>
               Berkesempatan Untuk<br /> Melanjutkan Kuliah Ke <br />Jenjang
              Yang Lebih Tinggi
            </div>
          </div>
          <div
            class="col-md-6 col-lg-4 mb-4"
            data-aos="fade-up"
            data-aos-delay="100"
          >
            <div class="block__35630">
              <div class="icon mb-3">
                <span class="bi bi-hand-thumbs-up"></span>
              </div>
              <h3 class="mb-3">DIROSAH ISLAMIYAH</h3>
               Dilengkapi Dengan Dirosah <br /> Islamiyah
            </div>
          </div>
          <div
            class="col-md-6 col-lg-4 mb-4"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            <div class="block__35630">
              <div class="icon mb-3">
                <span class="bi bi-globe"></span>
              </div>
              <h3 class="mb-3">PENGAJAR PROFESIONAL</h3>
               Dibimbing Oleh Dosen Alumni<br /> Ma’had Baik Dalam Maupun<br />
               Luar Negeri
            </div>
          </div>
          <div
            class="col-md-6 col-lg-4 mb-4"
            data-aos="fade-up"
            data-aos-delay=""
          >
            <div class="block__35630">
              <div class="icon mb-3">
                <span class="bi bi-book"></span>
              </div>
              <h3 class="mb-3">PERPUSTAKAAN</h3>
               Dilengkapi Dengan<br /> Perpusatakaan Digital Dan<br /> Manual
            </div>
          </div>
          <div
            class="col-md-6 col-lg-4 mb-4"
            data-aos="fade-up"
            data-aos-delay="100"
          >
            <div class="block__35630">
              <div class="icon mb-3">
                <span class="bi bi-wallet2"></span>
              </div>
              <h3 class="mb-3">BEASISWA</h3>
               Mendapatkan Beasiswa 100%
            </div>
          </div>
          <div
            class="col-md-6 col-lg-4 mb-4"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            <div class="block__35630">
              <div class="icon mb-3">
                <span class="bi bi-building"></span>
              </div>
              <h3 class="mb-3">LOKASI & GEDUNG<br /> REPRESENTATIF</h3>
               Ma’had yang Aman dan<br /> Nyaman
            </div>
          </div>
          <div
            class="col-md-6 col-lg-4 mb-4"
            data-aos="fade-up"
            data-aos-delay=""
          >
            <div class="block__35630">
              <div class="icon mb-3"></div>
            </div>
          </div>
        </div>

        <div class="site-section" id="blog-section">
          <div class="container">
            <div class="row">
              <div class="col-12 text-center mb-5">
                <div
                  class="block-heading-1"
                  data-aos="fade-up"
                  data-aos-delay=""
                >
                  <span>Kabar Terbaru</span>
                  <h2>Berita</h2>
                </div>
              </div>
            </div>
            <div class="row">
              <div
                class="col-md-6 col-lg-6"
                data-aos="fade-up"
                data-aos-delay=""
              >
                <div>
                  <a href="single.html" class="mb-4 d-block"
                    ><img
                      src="/images/hero_2.jpg"
                      alt="Image"
                      class="img-fluid rounded"
                    /></a
                  >
                  <h2><a href="single.html">TASMI’ 30JUZ SEKALI MAJLIS</a></h2>
                  <p class="text-muted mb-3 text-uppercase small">
                    <span class="mr-2">Desember 23, 2020</span>
                  </p>
                  <p>
                    Alhamdulillah, pada Sabtu, 19 Desember 2020 santri kita
                    Taufiq Khoirin asal sragen telah mengujukan hafalan dengan
                    tasmi’ 30JUZ dalam sekali majlis, dimulai dari ba’da shubuh
                    sampai ashar. Semoga apa yang di hafalkan bisa mendatangkan
                    keberkahan bagi semua...
                  </p>
                  <p><a href="single.html">Baca Selengkapnya</a></p>
                </div>
              </div>

              <div
                class="col-md-6 col-lg-6"
                data-aos="fade-up"
                data-aos-delay="100"
              >
                <div>
                  <a href="single2.html" class="mb-4 d-block"
                    ><img
                      src="/images/foto9.jpg"
                      alt="Image"
                      class="img-fluid rounded"
                    /></a
                  >
                  <h2><a href="single2.html">WISUDA SANTRI ANGKATAN 1</a></h2>
                  <p class="text-muted mb-3 text-uppercase small">
                    <span class="mr-2">JUNI 11, 2023</span>
                  </p>
                  <p>
                    Alhamdulillah, dua santri kami pada tanggal 14-16 Desember
                    telah mengujikan hafalan Al-Qur’an 30juz dalam tiga hari
                    yang di uji langsung oelh ustdz Muh.Luthfi dan Ustadz
                    Luthfi...
                  </p>
                  <p><a href="single2.html">Baca Selengkapnya</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="site-section bg-light" id="contact-section">
          <div class="container">
            <div class="row">
              <div
                class="col-12 text-center mb-5"
                data-aos="fade-up"
                data-aos-delay=""
              >
                <div class="block-heading-1">
                  <span
                    >Untuk perihal pertanyaan silahkan hubungi kami melalui
                    kontak dan form di bawah ini</span
                  >
                  <h2>Kontak Kami</h2>
                </div>
              </div>
            </div>
            <div class="row">
              <div
                class="col-lg-6 mb-5"
                data-aos="fade-up"
                data-aos-delay="100"
              >
                <form action="#" method="post">
                  <div class="form-group row">
                    <div class="col-md-6 mb-4 mb-lg-0">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="First name"
                      />
                    </div>
                    <div class="col-md-6">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="First name"
                      />
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-md-12">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Email address"
                      />
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-md-12">
                      <textarea
                        name=""
                        id=""
                        class="form-control"
                        placeholder="Write your message."
                        cols="30"
                        rows="10"></textarea>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-md-6 ml-auto">
                      <input
                        type="submit"
                        class="btn btn-block btn-primary text-white py-3 px-5"
                        value="Send Message"
                      />
                    </div>
                  </div>
                </form>
              </div>
              <div
                class="col-lg-4 ml-auto"
                data-aos="fade-up"
                data-aos-delay="200"
              >
                <h2 class="text-black">Alamat</h2>
                <br />
                <p>
                  jl. padat karya, gg. kaganangan, Loa Bakung, Kec. Sungai
                  Kunjang, Kota Samarinda, Kalimantan Timur 75243<br /><br />

                   0822-5130-3132 (Official)<br />
                   madrasahalquranbaitulizzah@gmail.com
                </p><br />
              </div>
            </div>
          </div>
        </div>
        <footer class="site-footer">
          <p class="copyright"><small> </small></p>
        </footer>
      </div>
    </div>

    <script is:inline src="/js/jquery-3.3.1.min.js"></script>
    <script is:inline src="/js/popper.min.js"></script>
    <script is:inline src="/js/bootstrap.min.js"></script>
    <script is:inline src="/js/owl.carousel.min.js"></script>
    <script is:inline src="/js/jquery.sticky.js"></script>
    <script is:inline src="/js/jquery.waypoints.min.js"></script>
    <script is:inline src="/js/jquery.animateNumber.min.js"></script>
    <script is:inline src="/js/jquery.fancybox.min.js"></script>
    <script is:inline src="/js/jquery.easing.1.3.js"></script>
    <script is:inline src="/js/aos.js"></script>
    <script is:inline src="/js/main.js"></script>

    <script
      is:inline
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-23581568-13");
    </script>
    <script
      is:inline
      defer
      src="https://static.cloudflareinsights.com/beacon.min.js/vaafb692b2aea4879b33c060e79fe94621666317369993"
      integrity="sha512-0ahDYl866UMhKuYcW078ScMalXqtFJggm7TmlUtp0UlD4eQk0Ixfnm5ykXKvGJNFjLMoortdseTfsRT8oCfgGA=="
      data-cf-beacon='{"rayId":"76e110a16bc36ba2","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2022.11.0","si":100}'
      crossorigin="anonymous"></script>
  </body>
</html>
